add-word.vtl

<h2>add a new word to the dictionary</h2>

<form action="/" method="post">
  <label for="word">input a new word</label>
  <input id="word" name="word" type="text">
  <button type="submit" class="btn">add word</button>
</form>
<hr>
<a href="/">return to main dictionary page</a>
