add-definition.vtl

<h2>Add a new definition for $word.getWord()</h2>

<form action="/$word.getId()" method="post">
  <label for="definition">input a new definition</label>
  <input id="definition" name="definition" type="text">
  <button type="submit" class="btn">add definition</button>
</form>
