
  <h2>Here are the definitions of $word.getWord()</h2>
    <ul>
    #foreach($definition in $word.getDefinitions())
      <li>$definition.getDefinition()
    #end
    </ul>

<hr>
<a href="/$word.getId()/newDefinition">add a new definition</a>
<hr>
<a href="/">return to the main dictionary page</a>
